.body {
  background-color: black;
}

.space {
  padding-top: 10%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.flexTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: black;
}

.flexIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 6%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inline {
  display: inline-flex;
  align-items: center;
}

.text {
  margin-right: 10px;
}

#termo {
  padding-right: 30px;
}

.search-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  left: 10px;
  padding-top: 10px;
}

.fas.fa-search {
  font-size: 16px;
  color: #000;
}

.menu {
  box-shadow: 0px 5px 6px;
  border-radius: 100px;
  padding: 10px;
}

#termo {
  padding-right: 30px;
}

.search-button {
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Estilize o ícone de lupa */
.fas.fa-search {
  position: absolute;
  top: 50%;
  right: 5px; /* Adapte o valor conforme necessário */
  transform: translateY(-50%);
  font-size: 16px; /* Adapte o tamanho conforme necessário */
  color: #000; /* Defina a cor do ícone conforme necessário */
}
